@tailwind base;
@tailwind components;
@tailwind utilities;

.blueprint-grid {
  background-size: 20px 20px, 20px 20px, 40px 40px, 40px 40px;
  background-image:
    linear-gradient(90deg, #1974cfa3 1px, transparent 1px),
    linear-gradient(0deg, #e6520da3 1px, transparent 1px),
    linear-gradient(90deg, rgb(9, 224, 20) 2px, transparent 1px),
    linear-gradient(0deg, #000000 2px, transparent 1px);
  background-color: #f8f9fa;
}

@layer base {
  :root {
    --fill-main: 248 248 248;
    --hover-main: 225 225 225;
    --text-main: 37 37 37;
    --text-contrast: 248 248 248;
    --text-secondary: 50 50 50;
    --tab-shadow-from: 201 201 202;
    --tab-shadow-to: 220 220 221;
    --accent-main: 239 131 84;
    --accent-dark: 70 73 76;
    --accent-pale: 197 195 198;
  }

  :root[color-theme="dark"] {
    --fill-main: 248 248 248;
    --text-main: 37 37 37;
    --accent-light: 239 131 84;
    --accent-main: 70 73 76;
    --accent-pale: 197 195 198;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --fill-main: 248 248 248;
      --text-main: 37 37 37;
      --accent-light: 239 131 84;
      --accent-main: 70 73 76;
      --accent-pale: 197 195 198;
    }
  }
}